/* you can change any of the default styles below */

* {

  font-size: 20px;
  
}

nav {

  height: 80px;
  background-color: #E22856;
  font-size: 200%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #F8F4E3;
  text-decoration: none;
  margin-right: 20px;
}

a:hover{
  color: #2A2B2A;
}

a:visited{
  color: #2A2B2A;
}

body {

  background-color: #F8F4E3;

}

p {
  color: #2A2B2A;
  font-size: 1.8rem;
}

img {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}

.shifteddiv{


  width: 400px;
  height: 400px;
  border: 1px solid #2A2B2A;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 20px;
}

main{
  position: relative;
  display: flex;
  top: 100px;
  flex-flow: row wrap;
  width: 900px;
  justify-content: space-around;
}